


<figure>
  <img class="center" src="/images/homepage_image.jpeg" style="width:20%">
</figure>



<p>"What up! We're a bunch of cool guys looking for other cool guys who <br>
want to hang out in our sloppy apex group! Nothing Sexual. Dudes in good <br>
shape encouraged, but if you're fat, we expect you to find humor in the little things. <br>
Again, Nothing Sexual."</p>

<div>
  <h1>hello</h1>
</div>


<h1 class="center" >This is a Heading</h1>
<p class= "center" >This is a paragraph.</p>
<p class= "center" >This is a another paragraph.</p>


